#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        col-gpios
            = <&pro_micro 6 GPIO_ACTIVE_HIGH>
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>
            , <&pro_micro 4 GPIO_ACTIVE_HIGH>
            , <&pro_micro 2 GPIO_ACTIVE_HIGH>
			, <&pro_micro 14 GPIO_ACTIVE_HIGH>
			, <&pro_micro 21 GPIO_ACTIVE_HIGH>
			, <&pro_micro 20 GPIO_ACTIVE_HIGH>
			, <&pro_micro 15 GPIO_ACTIVE_HIGH>
			, <&pro_micro 19 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <9>;
		rows = <3>;
    map = <
        K000, K001, K002, K003, K004, K005, K006, K007, K008, K009, 
	K100, K101, K102, K103, K104, K105, K106, K107, K108,       
	K200, K201, K202, K203, K204, K205, K206, K207
    
        >;
    };
};
